@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  background: #080819;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.geral_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Corpo_Site {
  height: 100%;
}

#Div_Para_Referencia_E_Criacao_React {
  height: 100%;
  width: 100%;
}

.Geral {
  /* opacity: 0; */

  transition: opacity 2s ease;
}
